{% load static %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
   <head>
      <!-- load style sheet and bootstrap stylesheet -->
      <link rel="stylesheet" href="style_sheet.css"/>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1 WTRi" crossorigin="anonymous">
      <title>Rahim Home Page</title>
   </head>
   <body>
      <div class="grid-container">
         <div class="grid-item item1">
            <h3>
               <!-- contact information -->
               Abderrahim Hechachena<br>
               London<br>
               07735551706<br>
               abderrahimhechachena@yahooo.co.uk<br>
               <a href="https://github.com/abderrahimh" style="color:yellow">Github</a><br>
               <a href="https://www.linkedin.com/in/abderrahim-hechachena-74b9a242/" style="color:yellow">LinkedIn</a><br>
               <a href="index2.html" style="color:yellow">Business Page</a><br>
            </h3>
            <!-- include iframe to present a broad personal statement -->
            <iframe src="{%static 'personal_statement.txt' %}" width="100%" height="100" width="300" title="Iframe Example"></iframe>
            <br>
            <h4>PERSONAL PROFILE</h4>
            <br>
            <!--  -->
            <p>
               With over 20 years experience working with Statistic Modeling, using R as a programming language, plus good exposure to other technologies including; C#, C++, Java and SAS.
               Worked in marketing and NHS as R programmer and reporter. Gained some experience working with Environments including windows ubuntu and red hat and other tools.
               Worked as a large team member and in a small team handling all tasks needed to final results.
            </p>
            <br>
            <h4>KEY SKILLS</h4>
            <br>
            <!-- using bullet pints -->
            <ul class="default">
               <li>Statistical Modeling including Regression Econometrics and multivariate analysis, time series and Machine learning: Networks, svm, classification and regression</li>
               <li>All aspects of R programming including research coding optimization and packaging, using git and testing.</li>
               <li>Gained some experience with python numpy, scipy sklearn and matplotlib.</li>
               <li>Actually following a training pythons software dev with bootcump.</li>
               <li>Teamwork: used agile method and participated in spring planning scrum meetings and show and tell sessions. Supervised a group of developers.</li>
            </ul>
            <br>
            <h4>EMPLOYMENT HISTORY</h4>
            <br>
            <p>Diverse short term employment: In sales and education and travel.</p>
            <br>
            <h5>Employer: UCL Nicor/Barts Health Sep 2016 to Sep 2020</h5>
            <h5>Role: Senior R Developer</h5>
            <h5>My role included:</h5>
            <!-- using bullet points -->
            <ul class="default">
               <li>Work involved collecting requirement from clinical leads, coding and reporting on data collected from all UK hospitals and heart intervention centers.</li>
               <li>Collecting data from other sources such as ONS and validate and confirm validity with sources.</li>
               <li>Participated in developing R shiny application for visualising and interacting with data.</li>
               <li>Code optimization for final reports generation process in both environments; windows and Linux servers.</li>
            </ul>
            <br>
            <h5>Employer: Millward Brown, Warwick Apr 2013 to Mar 2016</h5>
            <h5>Role: Senior R Developer</h5>
            <h5>Main duties included:</h5>
            <!-- using bullet points -->
            <ul class="default">
               <li>Coding and packaging, improving performance and refactoring</li>
               <li>Improved coding standards for the R calculation engine</li>
               <li>Supervised architecture changes</li>
               <li>Liaised with .Net developers to provide the GUI for the calculation engine</li>
               <li>Insure R calculation engine is available as a service </li>
               <li>Prepared test cases and work group coordination using Team Foundation Server</li>
            </ul>
            <br>
            <h5>Employer: Grafton College London Oct 2011 to Mar 2013</h5>
            <h5>Role: Quantitative Methods Tutor</h5>
            <!-- using bullet points -->
            <ul class="default">
               <li>Taught Probability distributions, Regression Cluster Analysis, MDS, and Time Series.</li>
            </ul>
            <br>
            <h5>Employer: Visokio Omniscope Apr to Oct 2011</h5>
            <h5>Role: R Programmer (Freelance)</h5>
            <ul class="default">
               <li>Integrated R with Visokio to provide statistical methods for Visokio users.</li>
               <li>Implemented multivariate statistics and econometrics analysis for Visokio software users and provided help documents.</li>
            </ul>
            <br>
            <h5>Employer: Grafton College London Sept 2005 to Sept 2010</h5>
            <h5>Role: Quantitative Methods and Information Systems Lecturer</h5>
            <h5>My role as a lecturer included teaching the following:</h5>
            <!-- using bullet points -->
            <ul class="default">
               <li>Probability distributions</li>
               <li>Regression cluster analysis</li>
               <li>Information systems including OLPT and OLAP systems + SQL introduction</li>
            </ul>
            <br>
         </div>
         <div class="grid-item item2">
            <br>
            <h4>EDUCATION & QUALIFICATIONS</h4>
            <br>
            <p>BootCump software Developers Nov 2022 to Mar 2023</p>
            <p>python software developers program.</p>
            <p>University of London, Birkbeck College Sep 2003 to Jun 2005</p>
            <p>MSc Applied Statistics  Pass</p>
            <p>BSc Statistics and Economics 2:1 Sep 1997 to Jun 2001</p>
            <p>3 A Levels: Maths & further Maths Grade A Sep 1995 to Jun 1996</p>
            <p>Business Studies Grade A </p>
            <p>Computing Grade A</p>
            <br>
            <h4>HOBBIES & INTERESTS</h4>
            <br>
            <p>
               Data compression algorithms and pattern identification.  Including self developed algorithm to solve BWT without using sorting algorithms. a copy is at my
               github account as seen in the title above.
            </p>
            <p>I enjoy travelling to learn about different cultures, playing sports, swimming and cycling to keep fit and healthy as well as, reading about new technologies and optimisations and algorithms.</p>
            <br>
            <h4>REFERENCES</h4>
            <br>
            <p>Available on request</p>
         </div>
      </div>
   </body>
</html>

